*.pyc
*.egg-info
.DS_Store
.idea/
.tox/
*~
.*.swo
.*.swp
.*.swn
.*.swm
/build/
/dist/
selenium-server-standalone-*.jar
/docs/_build
/screenshots/
tests/screenshots/*.png
geckodriver.log
ghostdriver.log
__pycache__
